[submodule "desktop-apps"]
	path = desktop-apps
	url = https://github.com/workplace4cm/desktop-apps.git
	branch = cenoffice
[submodule "desktop-sdk"]
	path = desktop-sdk
	url = https://github.com/Euro-Office/desktop-sdk.git
[submodule "core"]
	path = core
	url = https://github.com/Euro-Office/core.git
[submodule "sdkjs"]
	path = sdkjs
	url = https://github.com/Euro-Office/sdkjs.git
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/Euro-Office/dictionaries.git
[submodule "web-apps"]
	path = web-apps
	url = https://github.com/workplace4cm/web-apps.git
	branch = cenoffice
[submodule "document-templates"]
	path = document-templates
	url = https://github.com/Euro-Office/document-templates.git
[submodule "core-fonts"]
	path = core-fonts
	url = https://github.com/Euro-Office/core-fonts.git
[submodule "sdkjs-forms"]
	path = sdkjs-forms
	url = https://github.com/Euro-Office/sdkjs-forms.git
